*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
body{
    background-color: rgb(24, 23, 28);
    height: 100%;
    height: 100%;
    display: flexbox;
}
.navigation{
    justify-content: center;
    display: flex;
    background-color: rgb(36, 35, 40) ;
    padding: 1%;
    margin-bottom: 10em;
    
}
.nav_content{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Bitcount Grid Single", system-ui;
}
.nav_content a{
    color: whitesmoke;
    text-decoration: none;
    padding: 1%;
    transition: 1s;
    align-content: center ;
}
.nav_content a:hover{
    background-color: rgb(70, 68, 78);
    margin: 0;
    border-radius: 1em;
}
.home_icon{
    position: relative;
    inset-inline-start: inherit;
}
.home_icon img{
    padding: 0px;
    border-radius: 15%;
    width: 50px;
    height: 50px;   
}
.child_root{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sector_1{
    display: flex;
    width: fit-content;
    justify-content: center;
    justify-self: center;
    gap: 10%;

}
.sector_1_content{
    display: grid;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.658);
    justify-content: center;
    /* background-color: rgba(24, 24, 26, 0.432); */
    border: 1px solid whitesmoke;
    border-radius: 3vh;
    padding: 4vh;
    width: fit-content;
    align-content: center;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}
.sector_1_content h1{
    width: fit-content;
    justify-self: center;
    color: whitesmoke;
    font-family: "Bitcount Grid Single", system-ui;
    font-style: none;
    font-weight: 350;
    margin-bottom: 10%;

}
.sector_1_content a{
    justify-self: center;
    padding: 1vh;
    border: 1px solid whitesmoke;
    border-radius: 3vh;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Bitcount Grid Single", system-ui;
    width: fit-content;
    text-align: center;
}
.sector_1_content img{
    justify-self: center;
    align-self: center;
    padding-bottom: 2%;
}

@media (max-width: 1000px){
    .child_root{
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 400px;
    }
    .sector_1{
        display: flex;
        flex-direction: column;
        justify-self: center;
        gap: 1em;
    }
    .sector_1_content{
        display: flex;
        justify-content: space-evenly;
        border-radius: 1,5em;
        padding: 1em;
        /* max-width: 376px;
        min-width: 367px; */
        width: fit-content;
        align-content: center;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
    }
    .sector_1_content h1{
        justify-self: center;
        align-self: center;
        font-size: medium;
        font-weight: 250;
        width: 87px;
        text-align: center;
        margin: 0;

    }
    .sector_1_content a{
        align-self: center;
        justify-self: center;
        padding: 3%;
        text-align: center;
    }
    .sector_1_content img{
        justify-self: center;
        align-self: center;
        width: 50px;
        height: 50px;
    }
}